- unless current_user == @user
  .follow_form{data:{user_id: @user.id}}
    = link_to toggle_follow_user_path(@user), class: 'waves-effect waves-light btn', remote: true do
      %i.material-icons
        = current_user.following?(@user) ? 'thumb_down' : 'thumb_up'
