---
development:
  cloud_name: x
  api_key: 'y'
  api_secret: z
  enhance_image_tag: true
  static_image_support: false
production:
  cloud_name: x
  api_key: 'y'
  api_secret: z
  enhance_image_tag: true
  static_image_support: true
test:
  cloud_name: x
  api_key: 'y'
  api_secret: z
  enhance_image_tag: true
  static_image_support: false
