.intro
{
  text-align: center;
  padding-top: 13%;
  padding-bottom: 13%;
  margin-bottom: 50px;
}

.about .col
{
  margin-bottom: 24px;
}

.about h5
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about h6
{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.about hr
{
  width: 40px;
  margin-bottom: 45px;
}

.about .card .card-action
{
  text-align: center;
}

#transition-placeholder
{
  background-image: image-url('lava-bg.svg');
  height: 565px;
}
