/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "materialize/extras/nouislider";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.disabled {
   cursor: not-allowed !important;
}

.error-block {
  font-size: 0.8rem;
}

nav#breadcrumb {
  padding-left: 20px;
}

td {
  word-break: break-all;
}

span.badge-count {
  padding: 5px 8px;
  text-align: center;
  color: #fff;
  background-color: #F44336;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}

span.badge-count:before {
  content: " ×";
}

.collapse-avatar {
  padding-top: 12px;
}

.label-tinymce {
  position: initial !important;
}

.label-tinymce.active {
  color: #009688 !important;
}
