// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#users td[data-link] {
  cursor: pointer;
}
.profile-avatar {
  border-width: 6px;
  border-style: solid;
  border-color: white;
  margin-top: -100px
}
.profile-avatar-mini {
  border-width: 3px;
  border-style: solid;
  border-color: white;
}
.profile-title {
  height: 120px;
}
